<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sid BLog</title>
</head>
<header>
    <div>
        <h1>Sid BLog</h1>
        <div>
            <a href="/">Home</a>
            <a href="/allBlogs">Create/View Blogs</a>
        </div>
    </div>
</header>

</html>